/* ===== Global styling ===== */
body {
    background: #232222;
    color: #d9b673;
    font-family: "Georgia", serif;
    margin: 0;
    padding: 40px;
    text-align: center;
}

h1, h2, label {
    background: linear-gradient(180deg, #e8c980 0%, #c39d50 50%, #997632 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
}

/* ===== Buttons ===== */
button, select, input {
    background: rgba(255, 215, 0, 0.05);
    border: 1px solid rgba(255, 215, 0, 0.25);
    color: #d9b673;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
    width: 60%;
    font-size: 16px;
}

button:hover {
    background: rgba(255, 215, 0, 0.15);
    cursor: pointer;
    transition: 0.3s ease;
}

input, select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

/* Form layout */
form {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 20px;
}

/* shows */
.shows-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.show-card {
    background-color: rgba(255, 215, 0, 0.05);
    border: 1px solid rgba(255, 215, 0, 0.25);
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.show-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.show-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.show-dates {
    font-size: 14px;
    color: #555;
}

