<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manager dashbord</title>
  <link rel=stylesheet href="/css/modal.css">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
<div id="header"></div>

<button id="createEmpModal">Opret medarbejder</button>
<button id="readEmpModal">Alle medarbejdere</button>
<button id="createShowModal">Opret forestilling</button>

<!--  CREATE EMP -->
<div id="create-emp-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Opret medarbejder</h2>
    <form id="emp-form">
      <label for="firstname">Fornavn: </label>
      <input type="text" id="firstname" required>

      <label for="lastname">Efternavn: </label>
      <input type="text" id="lastname" required>

      <label for="username">Brugernavn: </label>
      <input type="text" id="username" required>

      <label for="role">Rolle: </label>
      <select id="role" name="role" class="select" required>
        <option value="CREW">Crew</option>
        <option value="CAST">Cast</option>
        <option value="TECH">Tech</option>
        <option value="MANAGER">Manager</option>

      </select>

      <label for="mail">Mail: </label>
      <input type="email" id="mail" readonly>

      <label for="phone">Telefon: </label>
      <input type="number" id="phone" required>

      <label for="password">Password: </label>
      <input type="password" id="password" required>

      <button type="submit">Gem</button>
    </form>
  </div>
</div>


<!--  READ ALL EMP -->
<div id="all-emp-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Alle medarbejdere</h2>
    <div id="emp-list"></div>
  </div>
</div>


<!--  READ EMP -->
<div id="emp-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="emp-details"></div>
    <button id="edit-emp">Rediger</button>
    <button id="delete-emp">Slet</button>
  </div>
</div>

<!-- CREATE SHOW -->
<div id="create-show-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Opret forestilling</h2>
    <form id="show-form">
      <label for="title">Title: </label>
      <input type="text" id="title" required>

      <label for="startDate">Startdato: </label>
      <input type="date" id="startDate" required>

      <label for="endDate">Slutdato: </label>
      <input type="date" id="endDate" required>
        <label for="employee">Medarbejdere: </label>
        <select id="employee" name="employee"multiple size="5"></select>
      <button type="submit">Gem</button>
    </form>
  </div>
</div>

<!-- CREATE SHIFT -->
<button id="createShiftModal">Opret vagt</button>

<div id="create-shift-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Opret vagt</h2>
    <form id="shift-form">
      <label for="plannedStart">Starttidspunkt</label>
      <input type="time" id="plannedStart" required>

      <label for="plannedEnd">Sluttidspunkt</label>
      <input type="time" id="plannedEnd" required>

      <label for="showSelect">Vælg Forestilling</label>
      <select id="showSelect"> required</select>

      <button type="submit">Gem</button>
    </form>
  </div>
</div>

<!--  READ ALL shifts -->
<button id="readAllShifts">Alle vagter</button>

<div id="all-shifts-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Alle vagter</h2>
    <div id="shift-list"></div>
  </div>
</div>

<!-- shows -->
<div id="shows-container" class="shows-grid"></div>

</body>
</html>
